<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="app" class="container">
        <div class="section">
            <h1 class="title">Todo List</h1>
            <div class="field">
                <label class="label">New Todo</label>
                <div class="control">
                    <input v-on:keyup.enter="addTodo" v-model="newTodo" class="input" type="text" placeholder="Enter new todo">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button @click="addTodo" class="button is-primary">Add Todo</button>
                </div>
            </div>
            <div class="buttons">
                <button @click="showAll" class="button">All</button>
                <button @click="showUnchecked" class="button">Unchecked</button>
                <button @click="showChecked" class="button">Checked</button>
                <button @click="clearChecked" class="button is-danger">Clear Checked</button>
            </div>
            <div class="box">
                <ul>
                    <li v-for="(todo, index) in visibleTodos">
                        <input type="checkbox" v-model="todo.checked"> {{ todo.title }}
                        <button @click="removeTodo(index)" class="button is-danger is-small">Delete</button>
                    </li>
                </ul>
            </div>
            <div v-if="remainingCount > 0" class="notification is-warning">
                {{ remainingCount }} item{{ remainingCount > 1 ? 's' : '' }} left 
            </div>
            <div v-else class="notification is-success">
                All items checked!
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: [],
                visibility: 'all'
            },
            methods: {
                addTodo: function() {
                    if (this.newTodo) {
                        this.todos.push({ title: this.newTodo, checked: false });
                        this.newTodo = '';
                    }
                },
                removeTodo: function(index) {
                    this.todos.splice(index, 1);
                },
                showAll: function() {
                    this.visibility = 'all';
                },
                showUnchecked: function() {
                    this.visibility = 'unchecked';
                },
                showChecked: function() {
                    this.visibility = 'checked';
                },
                clearChecked: function() {
                    this.todos = this.todos.filter(function(todo) {
                        return !todo.checked;
                    });
                }
            },
            computed: {
                remainingCount: function() {
                    return this.todos.filter(function(todo) {
                        return !todo.checked;
                    }).length;
                },
                visibleTodos: function() {
                    if (this.visibility === 'unchecked') {
                        return this.todos.filter(function(todo) {
                            return !todo.checked;
                        });
                    } else if (this.visibility === 'checked') {
                        return this.todos.filter(function(todo) {
                            return todo.checked;
                        });
                    } else {
                        return this.todos;
                    }
                }
            }
        });
    </script>
</body>
</html>
